@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
$primary-blue:#012B55;
$secondary-blue: rgb(0, 190, 255);
$primary-yellow:#FFCA55;
$secondary-yellow:rgb(255, 225,53);
$primary-red:rgb(230, 0,38);
$secondary-red:rgb(198, 0,18);

